#receipt {
  display: none;
}
img {
  height: auto;
  width: 100%;
}
body {
  background-image: url(https://thumbs.dreamstime.com/x/pale-blue-snowflakes-hexagons-seamless-pattern-winter-holidays-texture-background-81677725.jpg);
}
.bob {
  margin-top: 50px:
}
